* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

    --boolbeb-yellow: #f4bc4c;
}

.header{
    background-color: var(--boolbeb-yellow);
    color: rgb(80, 78, 78);
}
.footer{
    background-color: rgb(80, 78, 78);
}