* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --boolbnb-logo-yellow:#f4bc4c;
    --boolbnb-white:#ffffff;
    
    
}

.header{
    background-color: var(--boolbnb-logo-yellow);
}

.button_header{

    background-color: var(--boolbnb-white);
}

